body {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
}

.image-section {
  display: flex;
  background-image: url("./background.jpg");
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
